<div
  id="main-wrapper"
  class="container"
>
  <h2 class="list-title">Retouch</h2>

  <div class="list-container">
    <a
      *ngFor="let session of retouchSessions"
      [routerLink]="['./', session.transliteratedUrl]"
      class="group relative animate__animated animate__fadeIn"
    >
      <div class="list-item-card">
        <img
          [src]="session.beforeAterterPhotos[0]?.[1]?.url"
          [attr.alt]="session.title"
          class="w-full h-full object-center object-cover lg:w-full lg:h-full"
        />
      </div>
      <div class="mt-2">
        <h3 class="list-item-title">
          {{ session.title }}
        </h3>
      </div>
    </a>
  </div>
</div>
