<h2 class="text-3xl text-center font-extrabold tracking-tight text-gray-900">
  Photography
</h2>

<div
  class="mt-10 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8"
>
  <a
    *ngFor="let session of photographySessions"
    [routerLink]="['./', session.transliteratedUrl]"
    class="group relative"
  >
    <div
      class="w-full min-h-[23rem] bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-[23rem] lg:aspect-none"
    >
      <img
        [src]="session.photos[0].url"
        [attr.alt]="session.title"
        class="w-full h-full object-center object-cover lg:w-full lg:h-full"
      />
    </div>
    <div class="mt-2">
      <h3 class="text-lg italic text-gray-700">
        {{ session.title }}
      </h3>
    </div>
  </a>
</div>
