<section class="flex justify-between items-center">
  <a
    *ngIf="previousSession"
    class="paginator text-left mr-auto"
    [routerLink]="['./../', previousSession.transliteratedUrl]"
  >
    <div class="w-[1em] h-[1em]">
      <svg
        class="w-full h-full"
        viewBox="0 0 9 16"
        stroke-width="1px"
        fill="transparent"
      >
        <polyline
          stroke="#000"
          fill="none"
          stroke-miterlimit="10"
          points="7.3,14.7 2.5,8 7.3,1.2"
        ></polyline>
      </svg>
    </div>
    <span class="paginator-text">
      {{ previousSession.title }}
    </span>
  </a>

  <a
    *ngIf="nextSession"
    class="paginator text-right ml-auto"
    [routerLink]="['./../', nextSession.transliteratedUrl]"
  >
    <span class="paginator-text">
      {{ nextSession.title }}
    </span>
    <div class="w-[1em] h-[1em]">
      <svg
        class="rotate-180 w-full h-full"
        viewBox="0 0 9 16"
        stroke-width="1px"
        fill="transparent"
      >
        <polyline
          stroke="#000"
          fill="none"
          stroke-miterlimit="10"
          points="7.3,14.7 2.5,8 7.3,1.2"
        ></polyline>
      </svg>
    </div>
  </a>
</section>
