<div id="main-wrapper" class="container animate__animated animate__fadeIn">
  <div class="tracking-normal normal-case max-w-lg mx-auto">
    <section>
      <p class="font-semibold text-base text-center">
        Персональная съёмка
      </p>
      <br />

      <div class="mb-4">
        <div class="flex items-start gap-8 justify-center">
          <div class="border border-neutral-500 rounded-md p-4 flex-1">
            <p class="text-xl mb-2">300 zl</p>
            <ul class="list-disc list-inside">
              <li>1 час съёмки</li>
              <li>10 - 15 готовых фотографий</li>
            </ul>
          </div>
          <div class="border rounded-md border-neutral-500 p-4 flex-1">
            <p class="text-xl mb-2">450 zl</p>
            <ul class="list-disc list-inside">
              <li>2 часа съёмки</li>
              <li>20 - 25 готовых фотографий</li>
            </ul>
          </div>
        </div>
      </div>

      <details>
        <summary>Что включено</summary>

        <div class="p-4 space-y-2">
          <p>Срок получения готовых фотографий - до 9 дней</p>
          <p>
            Для ретуши можете выбрать фотографии самостоятельно либо положиться
            на мой вкус
          </p>
          <p>
            Мы вместе обсуждаем образ, настроение, подбираем одежду - Затем я
            составляю мудборд - Собираем команду (по необходимости)
          </p>
          <p>
            Фотостудия | Стилист | Визажист | Дргуие члены команды -
            оплачиваются отдельно
          </p>
          <p>
            Я работаю как индивидуальный предприниматель, поэтому оплата будет
            на фирменный счет любым удобным для вас способом. Для оплаты
            выставляю счет-фактуру
          </p>
          <p>Все удачные исходники - отдаю по желанию:</p>
          <ul class="list-disc list-inside">
            <li>
              если вы будете использовать исходные кадры со своими фильтрами /
              обработкой - меня как автора снимка не отмечаете
            </li>
            <li>
              фотографии с моей ретушью / цветокоррекцией / без обработки - меня
              как автора отмечаете на ваше усмотрение :)
            </li>
          </ul>
        </div>
      </details>

      <br />

      <details>
        <summary>Важно знать 🤍</summary>
        <div class="p-4 space-y-2">
          <p>
            Я всегда открыта для ваших пожеланий, но в рамках своего стиля .
            Очень прошу перед тем как записаться ко мне на съемку ознакомиться с
            моими работами на личном сайте здесь или же в инстаграм. Спасибо :)
          </p>
          <p>Для вашего дальнейшего комфорта, прошу прочесть пункты внизу</p>
          <p>
            1) Я буду вас направлять, говорить / показывать что делать (в рамках
            ваших возможностей / вашей пластики), но оговорюсь, что я не из
            категории фотографов, которые умеют раскрепостить даже самого
            застенчивого клиента :)
          </p>
          <p>
            2) Во время съемки я не расспрашиваю вас о ваших хобби и в целом не
            задаю никаких вопросов, не рассказываю о себе (для кого-то это может
            быть минусом, для кого-то плюсом) :)
          </p>
          <p>
            Для знакомства мы можем встретиться за 30 мин / 1 час до съемки ,
            пообщаться, привыкнуть друг к другу, я буду только рада!
          </p>

          <p>
            3) Если в моменте обсуждения мы не сможем сойтись в образе /
            настроении, то я предложу пока что отменить съемку, это с целью
            нашего общего комфорта :)
            <br />
            Лучше всегда найти фотографа, портфолио которого будет
            соответствовать вашей картинке в голове, чтобы вы были довольны
            результатом и самим процессом!
          </p>
          <p>
            4) Первые 15- 20 минут съемки, как правило, (не всегда это так) -
            это момент когда вы привыкаете ко мне, а я изучаю вашу мимику,
            пластику, ищу ракурсы, ставлю свет (если съемка в студии), поэтому:
          </p>

          <ul class="list-disc list-inside">
            <li>
              если вы чувствуете себя легко перед камерой, то можно брать час
              (также это максимум одна смена одежды / либо легкое изменение
              образа , чтобы не тратить на это время).
            </li>
            <li>
              если вы хотите больше образов / расслабленной съемки - тогда лучше
              2 часа, это самое комфортное время!
            </li>
          </ul>

          <p>
            5) Чаще всего в студии я снимаю с искусственным светом (если у вас
            нет четкого желания сняться только с дневным) / но искусственным
            светом всегда можно сделать имитацию дневного, так что время
            проведения самой съемки может быть в любое время суток. Именно
            поэтому список студий я буду присылать вам сама, так как я должна
            буду убедиться в наличии нужного мне света :)
          </p>

          <p>
            6) Также прошу сообщить, если вы не хотите чтобы съемка с вами была
            опубликована на моем личном сайте, behance, instagram.
          </p>
        </div>
      </details>
      <br />
    </section>

    <hr class="my-4" />

    <section>
      <p class="font-semibold text-base text-center">Модельные тесты</p>
      <br />
      <div class="flex items-start gap-8 justify-center">
        <div class="border rounded-md border-neutral-500 p-4">
          <p class="text-lg mb-2">300 zl</p>
          <ul class="list-disc list-inside">
            <li>1 час съёмки</li>
            <li>10 - 15 готовых фотографий</li>
          </ul>
        </div>
        <div class="border rounded-md border-neutral-500 p-4">
          <p class="text-lg mb-2">450 zl</p>
          <ul class="list-disc list-inside">
            <li>2 часа съёмки</li>
            <li>20 - 25 готовых фотографий</li>
          </ul>
        </div>
      </div>
    </section>

    <br />

    <div class="space-y-4">
      <p>Обсуждается индивидуально:</p>
      <ul class="list-disc list-inside">
        <li>все пожелания / требования</li>
        <li>количество образов</li>
        <li>отбор фотографий на ретушь</li>
      </ul>

      <p>
        Фотостудия | Стилист | Визажист | Дргуие члены команды - оплачиваются
        отдельно
      </p>
    </div>
  </div>
</div>
