<div id="main-wrapper" class="container animate__animated animate__fadeIn">
  <div class="tracking-normal normal-case">
    <p class="font-semibold text-base">Персональная съёмка</p>
    <p class="text-lg">4000 ₽</p>
    <br />
    <ul class="list-disc list-inside">
      <li>2 часа съёмки</li>
      <li>20 - 25 готовых фотографий (чб/цветные)</li>
    </ul>

    <hr class="my-2" />
    <p class="font-semibold text-base">Модельные тесты</p>

    <p class="text-lg">3000 ₽</p>
    <br />
    <ul class="list-disc list-inside">
      <li>2 часа съёмки</li>
      <li>20 - 25 готовых фотографий (чб/цветные), снепы по необходимости</li>
    </ul>

    <hr class="my-2" />
    <div class="space-y-1">
      <p class="font-semibold">
        Срок получения готовых фотографий в течении 14 дней.
      </p>
      <p>
        В случае проведения съёмки в студии, выбор и аренда фотостудии
        осуществляется мной. Стоимость аренды оплачивается
        <i class="underline">отдельно</i>.
      </p>

      <p>Исходные фото не отдаю. Фотографии отбираю самостоятельно.</p>
      <p>
        Снимаю в стилистике схожей с моим портфолио, с ним можно ознакомиться на
        сайте. Ретушь натуральная.
      </p>

      <p>
        Помогаю с подбором одежды. В процессе съёмки мы будем общаться и я буду
        Вас направлять.
      </p>
      <br />
      <p class="font-semibold">
        Бронирование фотосессии осуществляется после 50% предоплаты.
      </p>
      <p>
        Предоплата возвращается за исключением суммы, потраченной на аренду
        фотостудии или иного реквизита. Предоплата не возвращается в случае,
        если вы не пришли на съёмку или забыли её отменить.
      </p>
    </div>

    <br />
    <br />

    <p>
      <span class="font-semibold">Просьба предупредить</span>, если вы
      <i class="underline">не хотите</i>, чтобы съёмка с Вами была опубликована
      в моих социальных сетях или на моём сайте.
    </p>
  </div>
</div>
