<div id="main-wrapper" class="container text-[12px] normal-case">
  <div class="flex flex-col sm:flex-row justify-center">
    <div class="h-[300px] sm:h-[400px]">
      <img
        src="/assets/photos/other/me-desktop.webp"
        class="w-full h-full object-center sm:object-top object-contain animate__animated animate__fadeIn"
        alt="Photo with me"
      />
    </div>
    <div
      class="mt-2 sm:mt-0 sm:ml-8 animate__animated animate__fadeIn leading-5"
    >
      <section class="mb-6">
        <p>My name is <span class="font-semibold">Rita Mazura</span>.</p>
        <p>
          I am
          <span class="font-semibold"
            >a photographer <span class="font-normal">and</span> retoucher</span
          >.
        </p>
      </section>

      <section class="mb-6">
        <h3 class="font-semibold">Contact:</h3>
        <p>
          email:
          <a
            class="underline underline-offset-2 decoration-slate-700"
            href="mailto:ritamazurarf@gmail.com"
          >
            ritamazurarf@gmail.com
          </a>
        </p>
        <p>
          instagram:
          <a
            class="underline underline-offset-2 decoration-slate-700"
            href="https://instagram.com/rita.mazura"
            target="_blank"
          >
            rita.mazura
          </a>
        </p>
        <p>
          behance:
          <a
            class="underline underline-offset-2 decoration-slate-700"
            href="https://www.behance.net/ritamazura"
            target="_blank"
            >ritamazura</a
          >
        </p>
      </section>

      <section class="mb-6">
        <h3 class="font-semibold">Location:</h3>
        <p>now - Saint-Petersburg, Russia</p>
        <p>by origin - Grodno, Belarus</p>
      </section>
    </div>
  </div>
</div>
