.link {
  @apply p-2 px-3 rounded hover:underline underline-offset-2 transition-all;

  &--active {
    @apply underline underline-offset-2;
  }
}

.background {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 2.5rem;
  background-image: radial-gradient(hsl(0, 0%, 100%), hsla(0, 0%, 100%, 0));

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

  &.menu-opened {
    transform: scale(100);
  }
}

/* styling hamb ICON */
.icon {
  position: relative;

  .menu-opened & {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

.icon,
.icon::before,
.icon::after {
  width: 1rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.4rem;
}
.icon::after {
  top: 0.4rem;
}

.logo {
  @apply uppercase font-bold text-lg tracking-tighter transition-colors text-slate-800 hover:text-slate-600;
  font-family: "Oswald", sans-serif;
}

.burger-btn {
  @apply text-slate-500 w-8 h-8 p-2 flex items-center justify-center hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300
}
