<header class="header bg-white shadow-sm">
  <div class="header-announcement-bar-wrapper">
    <div class="header-inner">
      <div class="header-display-mobile">
        <div class="flex-1">
          <a [routerLink]="['/']" class="logo" (click)="closeMenu()">
            Rita Mazura
          </a>
        </div>

        <button
          type="button"
          class="burger-btn"
          (click)="toggleMenu()"
          aria-label="Menu toggler"
        >
          <span class="icon"></span>
        </button>
      </div>

      <div class="header-display-desktop">
        <a [routerLink]="['/']" class="logo"> Rita Mazura </a>

        <div class="header-nav">
          <nav>
            <ul class="header-nav-list">
              <li class="header-nav-item">
                <a
                  [routerLink]="['/portfolio']"
                  routerLinkActive="header-nav-item--active"
                  >Portfolio</a
                >
              </li>
              <li class="header-nav-item">
                <a
                  [routerLink]="['/price']"
                  routerLinkActive="header-nav-item--active"
                  >Price</a
                >
              </li>
              <li class="header-nav-item">
                <a
                  [routerLink]="['/about']"
                  routerLinkActive="header-nav-item--active"
                  >About</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menu" (click)="isMenuOpened = false">
    <div class="header-menu-bg"></div>
    <div class="header-menu-nav">
      <nav class="header-menu-nav-list">
        <div class="header-menu-nav-folder">
          <ul class="header-menu-nav-folder-content">
            <li class="header-menu-nav-item">
              <a
                [routerLink]="['/portfolio']"
                routerLinkActive="header-menu-nav-item--active"
                (click)="toggleMenu()"
                >Portfolio</a
              >
            </li>
            <li class="header-menu-nav-item">
              <a
                [routerLink]="['/price']"
                routerLinkActive="header-menu-nav-item--active"
                (click)="toggleMenu()"
                >Price</a
              >
            </li>
            <li class="header-menu-nav-item">
              <a
                [routerLink]="['/about']"
                routerLinkActive="header-menu-nav-item--active"
                (click)="toggleMenu()"
                >About</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
