<header class="header bg-white shadow-sm">
  <div class="header-announcement-bar-wrapper">
    <div class="header-inner">
      <div class="header-display-mobile">
        <div class="flex-1">
          <a [routerLink]="['/']" class="logo" (click)="closeMenu()">
            Rita Mazura
          </a>
        </div>

        <button
          type="button"
          class="burger-btn"
          (click)="toggleMenu()"
          aria-label="Menu toggler"
        >
          <span class="icon"></span>
        </button>
      </div>

      <div class="header-display-desktop">
        <a [routerLink]="['/']" class="logo"> Rita Mazura </a>

        <div class="header-nav">
          <nav>
            <ul class="header-nav-list">
              <li class="header-nav-item">
                <a
                  [routerLink]="['/portfolio']"
                  routerLinkActive="header-nav-item--active"
                  >Portfolio</a
                >
              </li>
              <li class="header-nav-item">
                <a
                  [routerLink]="['/price']"
                  routerLinkActive="header-nav-item--active"
                  >Price</a
                >
              </li>
              <li>
                <ng-container *ngTemplateOutlet="languagePicker"></ng-container>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menu" (click)="isMenuOpened = false">
    <div class="header-menu-bg"></div>
    <div class="header-menu-nav">
      <nav class="header-menu-nav-list">
        <div class="header-menu-nav-folder">
          <ul class="header-menu-nav-folder-content">
            <li class="header-menu-nav-item">
              <a
                [routerLink]="['/portfolio']"
                routerLinkActive="header-menu-nav-item--active"
                (click)="toggleMenu()"
                >Portfolio</a
              >
            </li>
            <li class="header-menu-nav-item">
              <a
                [routerLink]="['/price']"
                routerLinkActive="header-menu-nav-item--active"
                (click)="toggleMenu()"
                >Price</a
              >
            </li>
            <li class="header-menu-nav-item">
              <ng-container *ngTemplateOutlet="languagePicker"></ng-container>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<ng-template #languagePicker>
  <div class="relative inline-block text-left">
    <div>
      <button
        type="button"
        class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 uppercase text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
        (click)="isLanguageMenuOpened = !isLanguageMenuOpened"
      >
        {{ currentLang }}
        <svg
          class="-mr-1 h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>

    <div
      [@inOutAnimation]
      *ngIf="isLanguageMenuOpened"
      class="absolute right-0 z-10 mt-2 w-16 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <a
          *ngFor="let lang of availableLangs; index as idx"
          class="text-gray-700 block px-4 py-2 text-sm cursor-pointer hover:bg-slate-200 transition-colors"
          [ngClass]="currentLang === lang ? 'bg-slate-100' : ''"
          role="menuitem"
          tabindex="-1"
          [attr.id]="'menu-item-' + idx"
          (click)="setLanguage(lang)"
          >{{ lang }}</a
        >
      </div>
    </div>
  </div>
</ng-template>
