<div class="flex flex-col min-h-full">
  <header class="sticky top-0 bg-white z-50 shadow-sm">
    <div class="p-2 sm:px-36">
      <div class="relative flex items-center justify-between">
        <a [routerLink]="['/']" class="logo"> Rita Mazura </a>
        <div
          class="-my-1 -mr-1 z-[53] md:hidden"
          [ngClass]="{ 'menu-opened': isMenuOpened }"
        >
          <button
            type="button"
            class="burger-btn"
            (click)="isMenuOpened = !isMenuOpened"
          >
            <span class="icon"></span>
          </button>
        </div>
        <div
          class="background z-[51] block sm:hidden"
          [ngClass]="{ 'menu-opened': isMenuOpened }"
        ></div>

        <div
          class="animate__animated"
          [ngClass]="{
            'w-full h-full fixed top-0 left-0 flex items-center justify-center z-[52] animate__fadeInUp menu-opened':
              isMenuOpened,
            'hidden md:block': !isMenuOpened
          }"
          (click)="isMenuOpened = false"
        >
          <nav>
            <ul
              class="flex uppercase hover:text-slate-700"
              [ngClass]="{
                'flex-col justify-center space-y-2 text-2xl': isMenuOpened,
                'items-center space-x-2': !isMenuOpened
              }"
            >
              <li>
                <a
                  class="link"
                  [routerLink]="['/photography']"
                  routerLinkActive="link--active"
                  >Photography</a
                >
              </li>
              <li>
                <a
                  class="link"
                  [routerLink]="['/retouch']"
                  routerLinkActive="link--active"
                  >Retouch</a
                >
              </li>
              <li>
                <a
                  class="link"
                  [routerLink]="['/about']"
                  routerLinkActive="link--active"
                  >About</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <main class="flex-1 basis-full">
    <router-outlet></router-outlet>
  </main>
</div>
<!-- <footer></footer> -->
