$gutter-size: 10px;

.grid-item {
  margin-bottom: $gutter-size;
}

.gutter-sizer {
  width: $gutter-size;
}

@media screen and (max-width: 599.98px) {
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .grid-sizer,
  .grid-item {
    width: calc(33% - $gutter-size);
  }
}
